# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials (CRITICAL: Do not push API keys to GitHub!)
firebase-service-account.json
backend/*.json

flood-risk-f3fae-f1e657183174.json

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
